input.txt
tasks.json
demo.cpp

output.txt
basics/if_elseif.exe
basics/switch_case.exe
basics/input_output.exe
basics/for_loop.exe

basics/while_loop.exe
basics/pass_by_value.exe
patterns/p1.exe
patterns/p2.exe
patterns/p3.exe
patterns/p4.exe
patterns/p5.exe
patterns/p6.exe
patterns/p7.exe
patterns/p8.exe
patterns/p9.exe
patterns/p10.exe
patterns/p11.exe
patterns/p13.exe
patterns/p16.exe
patterns/p14.exe
patterns/p15.exe

patterns/p17.exe
patterns/p18.exe
patterns/p19.exe
patterns/p20.exe
patterns/p21.exe
basic maths/count_digits.exe
count_digits.exe
